<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Weather App</title>
  <meta name="description" content="RocketMile Weather App">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/site.css">


</head>

<body ng-app="WeatherApp" ng-controller="WeatherController as wCtrl" ng-init="wCtrl.startUp()">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
    <div id="map"></div>
    <div id="spinner" ng-show="wCtrl.downloadingWeatherData"></div>
    <div id="weatherAppContainer" class="container" ng-show="!wCtrl.downloadingWeatherData">
      <h1>Five Day Forecast</h1>
      <h2>for {{ wCtrl.city.name }}, {{ wCtrl.city.country }}</h2>
      <table class="table">
        <tbody class="table-body">
          <tr class="table-row" ng-repeat="(day, forecast) in wCtrl.forecasts">
            <td class="table-cell">{{ day }}</td>
            <td class="weather-cell" ng-repeat="cast in forecast track by $index">
              <p><strong>{{ wCtrl.displayDate(cast.dt) }}</strong></p>
              <p>{{ cast.main.temp }}&#176;F</p>
              <p>{{ cast.weather[0].description }}</p>
              <img ng-src="{{ wCtrl.getIconUrl(cast) }}" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

   
    <!-- Replace the value of the key parameter with your own API key. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWjDiEoUcOI31Y45rw3GGcnZrww7deRIE&libraries=places" async defer></script>
    <script src="http://spin.js.org/spin.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>   
    <script src="js/weatherModule.js"></script>
    <script src="js/weatherApp.js"></script>
</body>
</html>